@import "../../index.less";

fieldset.login-form {
    border: solid #80808073 1px;
    border-radius: 15px;
    font-size: 24px;
    box-shadow: #8e8e8e29 0px 2px 1px 1px;
    width: 60%;
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .auth-error-message {
        margin: 7px;
        font-size: 11px;
        color: @error-font-color;
    }
}