@error-font-color: red;

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  cursor: default;
  user-select: none;
}

input:not([type="checkbox"]) {
  padding: 10px 8px;
  min-width: 30%;
  border: none;
  border-bottom: grey solid 1px;
  margin: 5px;
  outline: none;
}
input:not([type="checkbox"])::-webkit-input-placeholder {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
input:not([type="checkbox"]):focus::-webkit-input-placeholder {
  font-size: 10px;
  line-height: 10px;
}
input[type="checkbox"] {
  margin: 20px 10px;
  cursor: pointer;
}
label {
  cursor: pointer;
}
input[data-invalid="true"]:not([type="checkbox"]) {
  color: @error-font-color;
  border-bottom-color: @error-font-color;
}
input[data-invalid="true"]:not([type="checkbox"])::-webkit-input-placeholder {
  color: @error-font-color;
}